<h1>sidebar</h1>
<h2>Admin</h2>
<ul>
  <li><a href="/admin/dashboard">Dashbord</a></li>
  <li><a href="/admin/history">history</a></li>
  <li><a href="/admin/confirm">confirm</a></li>
  <li><a href="/admin/user">user</a></li>
</ul>
<br>
<h3>User</h3>
<ul>
  <li><a href="/dashboard">Dashbord</a></li>
  <li><a href="/donate">Donasi</a></li>
  <li><a href="/message">Pesan</a></li>
  <li><a href="/history">history</a></li>
</ul>